<h1 class="projects-index-title">Welcome, <%= window.CURRENT_USER_USERNAME %></h1>

<h2>My Projects</h2>
<ul class="projects-index clearfix pre-scrollable"></ul>
<h2>Projects I'm Tagged In</h2>
<ul class="projects-tagged-index clearfix pre-scrollable"></ul>

<div class="projects-index-footer">
  <button type="button" class="add-project btn btn-primary">Add a New Project</button>
</div>

