<a href="/#projects/<%= project.id %>">
  <div class="index-item-body">
    <div class="index-item-header clearfix">
      <h2 class="index-item-header-title col-md-8"><%= project.escape('title') %></h2>
      <button class="delete-project btn btn-danger col-md-2 pull-right">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </div>
    <li class="list-project-description"><%= project.escape('description') %></li><br>
  </div>
</a>