<div class="index-item-body">
  <div class="index-item-header clearfix">
    <h2 class="index-item-header-title col-md-8"><%= project.escape('title') %></h2>
    <button class="delete-project btn btn-danger col-md-3 col-md-offset-1 pull-right">Delete!</button>
  </div>
  <li class="list-item"><%= project.escape('description') %></li><br>
</div>