<div class="col-md-2" id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">PROJECT TRACKER</a></li>
    <li><a href="/"><span class="glyphicon glyphicon-home btn-lg" aria-hidden="true"></span>Home</a>
    </li>
    <li class="sb-my-projects"><a href="#"><span class="my-projects glyphicon glyphicon-folder-close btn-lg" aria-hidden="true"></span> My Projects</a></li>
    <li class="sb-tagged-projects"><a href="#"><span class="tagged-projects glyphicon glyphicon-folder-close btn-lg" aria-hidden="true"></span> Tagged Projects</a></li>
    <!-- <li><a href="#">Overview</a></li> -->
    <!-- <li><a href="#">Events</a></li> -->
    <!-- <li><a href="#">About</a></li> -->
    <!-- <li><a href="#">Services</a></li> -->
    <!-- <li><a href="#">Contact</a></li> -->
  </ul>
</div>

<div class="projects col-md-10 col-md-offset-2">
  <!-- My Projects -->
  <div class="projects-owned clearfix active">
    <div class="my-projects-header clearfix">
      <button type="button" class="add-project btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <h2 class="projects-index-header">My Projects</h2>
    </div>
    <ul class="projects-owned-index projects-index-style clearfix pre-scrollable"></ul>
  </div>

  <!-- Tagged Projects -->
  <div class="projects-tagged clearfix inactive">
    <h2 class="projects-index-header">Projects I'm Tagged In</h2>
    <ul class="projects-tagged-index projects-index-style clearfix pre-scrollable"></ul>
  </div>

</div>