<h1>TEST PROJECT INDEX</h1>

<ul class="projects-index">
  <% projects.each(function (project) { %>
    <li><%= project.escape('title') %></li>
    <li><%= project.escape('id') %></li>
    <li><%= project.escape('owner_id') %></li>
  <% }) %>
</ul>