<h1 class="projects-index-title"><strong>Welcome, <%= window.CURRENT_USER_USERNAME %></strong></h1>

<div class="my-projects-header clearfix">
  <button type="button" class="add-project btn btn-success pull-right">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <h2 class="projects-index-header">My Projects</h2>
</div>
<ul class="projects-index projects-index-style clearfix pre-scrollable"></ul>
<h2 class="projects-index-header">Projects I'm Tagged In</h2>
<ul class="projects-tagged-index projects-index-style clearfix pre-scrollable"></ul>