<h1 class="projects-index-title">Welcome, <%= window.CURRENT_USER_USERNAME %></h1>

<ul class="projects-index clearfix pre-scrollable"></ul>

<ul class="projects-tagged-index clearfix"></ul>

<div class="projects-index-footer">
  <button type="button" class="add-project btn btn-primary">Add a New Project</button>
</div>

