
<div class="project-show-header">
  <div class="col-md-3">
    <h1 class="project-title"><%= project.escape('title') %></h1>
  </div>

  <div class="col-md-7 project-description">
    <h4>Project Description: </h5>
    <p><%= project.escape('description') %></p>
  </div>

  <div class="col-md-2">
    <button type="button" class="edit-project btn btn-primary">Edit Project Details</button>
  </div>
</div>

<div class="project-show-main">
</div>
