
<div class="project-show-header clearfix">
  <div class="project-header-title col-md-4">
    <h1 class="project-title"><%= project.escape('title') %></h1>
  </div>

  <div class="project-header-description col-md-6">
    <h4>Project Description: </h4>
    <p class="project-description-text"><%= project.escape('description') %></p>
  </div>

  <div class="project-header-features col-md-2">
    <button type="button" class="upload-button btn btn-primary pull-right">Upload Image</button>
    <button type="button" class="invite-users btn btn-primary pull-right">Invite Users</button>
  </div>
</div>

<div class="project-show-main clearfix">
  <div class="project-show-content col-md-8 clearfix">
    <div class="collaborators-list">
      <h3 id="member-list-title">Collaborators</h3>
    </div>

    <div class="tasks-container">
      <button type="button" class="new-task btn btn-primary">New Task</button>
    </div>
  </div>


  <div class="side-bar col-md-4 clearfix">
    <div class="project-user-search hidden"></div>

    <div class="project-show-upload-bar clearfix">
      <h3 id="upload-title">Uploaded Images</h3>

      <div id="myCarousel" class="carousel slide col-md-6 pull-right" data-ride="carousel">
        <!-- Wrapper for slides -->
        <center><div class="carousel-inner" role="listbox"></div></center>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>