<div class="col-md-2" id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">PROJECT TRACKER</a></li>
    <li><a href="/">
      <span class="glyphicon glyphicon-home btn-lg" aria-hidden="true"></span>Home</a>
    </li>

    <li><a href="/#users/<%= window.CURRENT_USER_ID %>">
      <span class="glyphicon glyphicon-user btn-lg" aria-hidden="true"></span><%= window.CURRENT_USER_USERNAME %></a>
    </li>

    <li><a href="/#home">
      <span class="glyphicon glyphicon-tasks btn-lg" aria-hidden="true"></span>Projects Index</a>
    </li>
    
    <% if (tagged) { %> 
      <li class="sb-tagged-projects"><a href="#">
        <span class="tagged-projects glyphicon glyphicon-folder-close btn-lg" aria-hidden="true"></span><%= tagged.length %> Tagged Projects</a>
      </li>    
    <% } %>

    <% if (projects) { %>
      <li class="sb-my-projects"><a href="#">
        <span class="my-projects glyphicon glyphicon-folder-open btn-lg" aria-hidden="true"></span><%= projects.length %> Personal Projects</a>
      </li>
    <% } %>

    <div id="tree-route"></div>
    <div id="route-back-project"></div>

    <div class="bottom">
      <div class="hidden" id="customer-question">
        <form class="form-group" id="question">
          <h5 class="form-control" id="question-title">Hello, how can we help?</h5>

          <textarea class="form-control" name="question" id="question"></textarea>

          <input type="submit" class="btn btn-success" id="question" value="Submit"/>
        </form>

        <div class="hidden form-control" id="response">
          Question Submitted!   <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 
        </div>
      </div>

      <li><a class="customer-support">
        <span class="glyphicon glyphicon-blackboard btn-lg" aria-hidden="true"></span>Customer Support</a>
      </li>
      
      <li><a href="#" class="sign-out">
        <span class="glyphicon glyphicon-log-out btn-lg" aria-hidden="true"></span>Sign Out</a>
      </li>
    </div>
  </ul>
</div>
