<!-- Project Link -->
<!-- <a href="#" class="project-link"><%= project.escape("title") %></a>
 -->

<!-- New Task -->
<button class="btn btn-xs btn-success pull-right" id="new-task">New Task</button>

<!-- Completed Tasks -->
<h4 class="project-tree-header incomplete">To Do</h4>
<h5 class="project-tree-header incomplete">High Priority</h5>
<ul class="nav-task-list tasks-incomplete high-p"></ul>
<h5 class="project-tree-header incomplete">Low Priority</h5>
<ul class="nav-task-list tasks-incomplete low-p"></ul>

<!-- Incomplete Tasks -->
<h4 class="project-tree-header complete">Done!</h4>
<ul class="nav-task-list tasks-completed"></ul>
