<!-- Project Link -->
<a href="#" class="project-link"><%= project.escape("title") %></a>

<!-- Completed Tasks -->
<h4 class="project-tree-header incomplete">To Do</h4>
<ul class="nav-task-list tasks-incomplete"></ul>

<!-- Incomplete Tasks -->
<h4 class="project-tree-header complete">Done!</h4>
<ul class="nav-task-list tasks-completed"></ul>
