<div class="col-md-2" id="backbone-sidebar"></div>

<div class="col-md-10" id="project-show-main">
  <div class="col-md-2" id="project-show-tasks-list">
    <div id="tree-route"></div>
  </div>
  
  <div class="col-md-6"></div>
</div>