<div class="col-md-2" id="backbone-sidebar"></div>

<div class="col-md-10" id="project-show-main">
  <!-- Project Tree NavList -->
  <div class="col-md-3" id="project-tree-list">
    <div class="tree-route"></div>
  </div>

  <!-- Task Detail Sidebar -->
  <div id="task-details-sidebar" class="col-md-6"></div>
  
  <!-- Project Detail Sidebar -->
  <div id="project-show-sidebar" class="col-md-3"></div>
</div>