<%= render "shared/nav_bar", home: true %>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Project Tracker</h1>
            <h3 class="">Inspired by <a href="https://basecamp.com">Basecamp</a> and <a href="https://app.asana.com">Asana</a></h3>
            <p class="intro-text">Helping People Get Ahead Since 2015</p>
            <a href="#about" class="btn btn-circle page-scroll page-scroll-icon">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About Project Tracker</h2>
        <p>You're a product manager. Keeping everyone organized isn't easy. But getting everyone on the same page doesn't have to mean having a million meetings. Project Tracker is your go-to app to make sure you and your team meet all of your deadlines.</p>
      </div>
    </div>
  </section>

  <!-- Marketing Section -->
  <section id="product-features" class="container content-section text-center">
    <div class="row">
      <div class="product-features col-sm-4">
        <center><img class="img-circle img-responsive" src="assets/screenshots/project_index.png" alt=""></center>
        <h2>Easily Accessible Projects</h2>
        <p>Keep all your projects in one place. Sorted by projects you created as well as projects others have tagged you in, the main projects index page lets you organize your different projects with different teams to make sure you never have too much on your plate!</p>
      </div>
      <div class="product-features col-sm-4">
        <center><img class="img-circle img-responsive" src="assets/screenshots/tasks.png" alt=""></center>
        <h2>Vibrant, Dynamic Tasks</h2>
        <p>Everyone knows the way to eat an elephant is one bite at a time. Within each of your projects, users have the ability to create, assign, complete and delete multiple tasks. A bright, green stamp helps motivate users to knock out other tasks and keep the wheels turning until you reach your goals!</p>
      </div>
      <div class="product-features col-sm-4">
        <center><img class="img-circle img-responsive" src="assets/screenshots/project_show.png" alt=""></center>
        <h2>Detailed Project Files</h2>
        <p>Keep track of your project with all the different features available. Upload images you want to share with your team members and they can view it right away. With tons of new features coming out with every update, managing your team will never be easier!</p>
      </div>
    </div>
  </section>

  <!-- Download Section KW: No Download Section yet... -->
<!--   <section id="download" class="content-section text-center">
    <div class="download-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Download Grayscale</h2>
          <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Free Trial hehe -->
  <section id="free-trial" class="container content-section text-center">
    <h2>Try it now, free for 2 months!</h2>
    <a href="<%= new_session_url %>" class="guest-login"><button class="guest-login btn btn-pri btn-lg">Guest Log In!</button></a>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact Kevin!</h2>
        <p>Have a new feature you're looking for? Want to share with me how much you love this site? Feel free to contact me about literally anything. I'm available weekdays until 8, Saturday and Sundays until 5, and online at Twitter, Github and Google+.</p>
        <p><a href="mailto:kevinwang2400@gmail.com">kevinwang2400@gmail.com</a></p>

        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/kswang2400" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/kswang2400" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/+KevinWang2400" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; Just kidding, there is no copyright</p>
    </div>
  </footer>
</body>