<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Project Tracker</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to projecttracker.biz, <%= @user.username %></h1>
    <p>
      You have successfully signed up to projecttracker.biz,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>