<button class="tag-user btn-xs btn-success pull-right" id="<%= user.escape('id') %>">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<li class="searched-user"><%= user.escape('username') %></li>