<div class="users-search">
  <div class="col-md-6">
    <label>
      Username
      <input type="text" name="username">
    </label>
  </div>

  <div class="col-md-6">
    <h4>Result</h4>
    <ul class="users"></ul>
  </div>
</div>