<div class="user-show user-show-header">
  <h1><%= user.escape('username') %></h1>
</div>

<div class="user-show-body">
  <div class="user-show user-show-tasks col-md-6">
    <h2>To Do List</h2>
    <ul class="to-do-list"></ul>
  </div>

  <div class="user-show user-show-edit col-md-4 pull-right">
  </div>
</div>