<div class="user-show user-show-header">
  <h1><%= user.escape('username') %></h1>
</div>

<div class="user-show user-show-tasks">
  <h2>To Do List</h2>
  <ul class="to-do-list"></ul>
</div>

<div class="user-show users-show-edit">
</div>