<%= comment.escape("body") %>
<%= comment.escape("author_name") %>
<% if (window.CURRENT_USER_ID === comment.escape("author_id")) { %>
  <button class="delete-comment btn btn-xs btn-danger pull-right">Delete</button>
<% } %>