<% if current_user %>
  <li><a href="#users/<%= current_user.id %>">Your Page</a></li>
  <li><a href="#home">Projects Index</a></li>
<% else %>
  <li><a class="page-scroll" href="#about">About</a></li>
  <li><a class="page-scroll" href="#product-features">Features</a></li>
  <li><a class="page-scroll" href="#free-trial">Guest Login</a></li>
  <li><a class="page-scroll" href="#contact">Contact</a></li>
<% end %>