<li><a class="page-scroll" href="#about">About</a></li>
<li><a class="page-scroll" href="#product-features">Features</a></li>
<li><a class="page-scroll" href="#free-trial">Guest Login</a></li>
<li><a class="page-scroll" href="#contact">Contact</a></li>