<div class="col-md-2" id="backbone-sidebar"></div>

<div class="col-md-10" id="projects-index-content">
  <div class="row projects-index-row clearfix">
    <div class="projects-index-row-title">
      <h2 class="projects-index-header header-tagged-projects">Projects I'm Tagged In</h2>
    </div>
    
    <ul class="projects-tagged-index">
      <div class="x-scroll"></div>
    </ul>
  </div>

  <div class="row projects-index-row clearfix">
    <div class="projects-index-row-title">
      <button type="button" class="add-project btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <h2 class="projects-index-header header-my-projects">My Projects</h2>
    </div>
    
    <ul class="projects-owned-index x-scroll">
      <div class="x-scroll"></div>
    </ul>
  </div>
</div>
