<!-- Task Header / Buttons -->
<div class="task-index-item-header clearfix">
  <h3 class="col-md-8"><%= task.escape('title') %></h3>
  <h4><%= task.escape('owner_name') %></h4>

  <div class="task-index-item-buttons">
    <button type="button" class="complete-task btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
    <% if (window.CURRENT_USER_ID === task.escape('author_id')) { %>
      <button type="button" class="delete-task btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <% } %>
  </div>
</div>

<!-- Task Body / Description -->
<div class="task-index-item-body">
  <strong><p class="task-index-item-description"><%= task.escape('body') %></p></strong>
</div>

<!-- Assigned Users Subviews-->
<div class="assigned-users clearfix"></div>

<!-- Button to Task Show -->
<button class="view-task btn btn-pri btn-md btn-block" data-project-id="<%= task.escape('project_id') %>">View</button>