<div class="task-show-sidebar col-md-3">
  <!-- Task Header -->
  <div class="task-show-header">
    <h1><%= task.escape('title') %></h1>
    <br>
    <h4>Status:   <%= task.escape('status') %></h4>
  </div>

  <div class="task-assignments"></div>

  <button class="task-complete btn btn-success">Mark Complete!</button>
</div>

<div class="task-show-body col-md-9">
  <div class="row">
    <h1 class="comments-header">Comments</h1>
    <!-- KW: will implement my own comments section later... -->
    <!-- <button class="create-comment btn btn-success">New Comment</button> -->
  </div>

  <div class="comments-section"></div>
</div>