<div class="task-show-sidebar col-md-4">
  <!-- Task Header -->
  <div class="task-show-header">
    <h1><%= task.escape('title') %></h1>
    <br>
    <h4>Status:   <%= task.escape('status') %></h4>
  </div>

  <div class="task-assignments"></div>
</div>

<div class="task-show-body col-md-8">
  <div class="row">
    <h1 class="comments-header">Comments</h1>
    <button class="create-comment btn btn-success">New Comment</button>
  </div>

  <div class="comments-section"></div>
</div>