<li class="task-list-item">
  <a href="/#projects/<%= task.escape('project_id') %>"><%= task.escape('title') %></a>
  <div class="task-project"><%= task.escape('project_title') %></div>
  <div class="task-status pull-right"><%= task.escape('status') %></div>
</li>
