/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
  height: 100%;
  margin: 0;
  min-width: 550px;
}

.clearfix {
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

.delete-project {
  display: none;
  margin-top: 20px;
}

.form-group .btn {
  width: 100%;
}

.form-title {
  margin: 0px;
}

html {
  height: 100%;
}

.index-item-header {
  display: block;
}

.edit-project {
  margin: 40px 0px;
}

.jumbotron {
  background-color: rgba(245, 245, 245, 0.4);
  color: #eeeeee;
  border-radius: 25px;
  margin: 0px 80px;
  padding-left: 50px;
}

.list-item {
  margin-left: 25px;
}

.logo {
  background-color: #ebebeb;
  padding: 30px 0px;
}

.logo-image {
  height: 60px;
  width: 45px;
}

#main {
  background-image: image-url("fp_back2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 50px;
  width: 100%;
}

nav a {
  color: white;
}

.navbar {
  background-color: #aaaaaa;
  border-radius: 0px;
  margin-bottom: 0px;
}

.new-project {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.new-user-session {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.projects-index {
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 30px;
  display: block;
  margin: 30px 50px;
  padding-top: 20px;
  padding-left: 30px;
}

.projects-index-footer {
  margin-left: 100px;
  padding-bottom: 40px;
}

.projects-index-item {
  background-color: white;
  border: 4px solid #aaaaaa;
  border-radius: 25px;
  display: block;
  float: left;
  margin: 20px;
  padding: 0px 15px 30px 15px;
  width: 350px;
}

.projects-index-item:hover {
  background-color: #dbdbdb;
}

.projects-index-item:hover .delete-project{
  display: block;
}

.projects-index-title {
  color: white;
  margin-left: 100px;
}

.project-description {
  margin-top: 12px;
}

.project-show-footer {
  margin: 100px;
}

.project-show {
  background-color: white;  
  border-radius: 25px;
  margin: 0px 100px;
}

.project-title {
  padding: 20px 20px;
}


