/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require grayscale
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.add-project {
  margin: 8px 100px 0px 0px;
}

.assigned-users {
  height: 70px;
  margin-bottom: 8px;
}

body {
  height: 100%;
  margin: 0;
  min-width: 550px;
}

.btn-success {
  background-color: hsl(170, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c6a5", endColorstr="#00c6a5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00c6a5), to(#00c6a5));
  background-image: -moz-linear-gradient(top, #00c6a5, #00c6a5);
  background-image: -ms-linear-gradient(top, #00c6a5, #00c6a5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00c6a5), color-stop(100%, #00c6a5));
  background-image: -webkit-linear-gradient(top, #00c6a5, #00c6a5);
  background-image: -o-linear-gradient(top, #00c6a5, #00c6a5);
  background-image: linear-gradient(#00c6a5, #00c6a5);
  border-color: #00c6a5 #00c6a5 hsl(170, 100%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-pri {
  background-color: hsl(245, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1000c6", endColorstr="#1000c6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1000c6), to(#1000c6));
  background-image: -moz-linear-gradient(top, #1000c6, #1000c6);
  background-image: -ms-linear-gradient(top, #1000c6, #1000c6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1000c6), color-stop(100%, #1000c6));
  background-image: -webkit-linear-gradient(top, #1000c6, #1000c6);
  background-image: -o-linear-gradient(top, #1000c6, #1000c6);
  background-image: linear-gradient(#1000c6, #1000c6);
  border-color: #1000c6 #1000c6 hsl(245, 100%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

#c1 {
  background-image: asset-url("profile-pictures/me.png");
}

#c2 {
  background-image: asset-url("profile-pictures/prof1.png");
}

#c3 {
  background-image: asset-url("profile-pictures/prof3.png");
}

#c-default {
  background-image: asset-url("profile-pictures/professional-corgi.jpg");
}

.circle-image{
  background-position-y: 25%;
  background-size: 50px 50px;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
}

.clearfix {
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

.collaborators-list {
  background-color: #aaa;
  border-radius: 5px;
  display: block;
  margin: 30px 0px;
  width: 100%;
}

#collaborator-title {
  text-align: center;
}

#contact {
  margin-bottom: 100px;
}

.complete-stamp {
  height: 50%;
  width: 50%;
}

.complete-task {
  padding: 8px;
  border-radius: 25%;
}

.completed {
  background-image: url("http://ajax.raffertyaluminum.com/pics/completed_stamp.gif") !important;
  background-size: 280px 200px !important;
  background-repeat: no-repeat !important;
  background-position: 10px 10px !important;
}

.delete-member {
  height: 60px;
  width: 60px;
  background-image: asset-url("red-x.png");
  background-size: cover;
  margin-top: 8px;
}

.delete-project {
  display: none;
  margin-top: 20px;
}

.delete-task {
  border-radius: 25%;
  margin: 8px 0px 0px 8px;
  padding: 8px;
}

#description {
  max-height: 70px;
  overflow: auto;
}

.dropdown-style {
  width: 20px;
}

.editing {
  color: black;
}

.error {
  color: red;
  padding: 15px 0px 15px 30px;
}

#footer {
  margin-top: 300px;
  height: 500px;
  width: 100%;
  background-color: #aaaaaa;
}

.form {
  height: 100%;
  background-image: asset-url("fp_back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-group .btn {
  width: 100%;
}

.form-title {
  margin: 0;
}

.guest-login {
  font-size: 60px;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
}

#HCB_comment_box {
  width: 70%;
}

html {
  height: 100%;
}

.img-circle {
  height: 300px;
  width: 300px;
}

.index-item-header {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-bottom: 8px;
  width: 100%;
}

.intro-body {
  padding: 0;
}
/*
.intro-text {
  color: black;
}
*/
.jumbotron {
  background-color: rgba(245, 245, 245, 0.4);
  color: #eeeeee;
  border-radius: 5px;
  margin: 0px 80px;
  padding-left: 50px;
}

.list-project-description {
  margin-left: 25px;
  height: 60px;
  overflow: hidden;
}

.logo {
  background-color: #ebebeb;
  padding: 30px 0px;
}

.logo-image {
  height: 60px;
  width: 45px;
}

#main {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 90px;
  width: 100%;
}

.main-content {
  height: 100%;
}

.member-circle-img {
  margin: 12px 8px 8px 8px;
  float: left;
}

.modal-backdrop {
  background-color: rgba(14,47,90,0.9);
  height: 110%;
  position: absolute;
  z-index: 10;
}

.modal-content {
  margin-left: 50%;
  margin-top: 100px;
  padding: 6px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 11;
  form {
    width: 100%;
    margin: 0;
  }
}

#myCarousel {
  width: 100%;
  height: 60px;
}

nav a {
  color: white;
}

.navbar {
  background-color: #3773f1;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 20px;
}

.new-form {
  border-radius: 5px;
  padding: 20px;
}

.new-task {
  /*margin: 0px 0px 20px 10px;*/
  margin-left: 10px;
}

.invite-users {
  /*margin: 0px 0px 20px 10px;*/
  margin-left: 10px;
}

.new-user-session {
  background-color: white;
  border-radius: 5px;
  margin-top: 100px;
  padding: 20px;
}

.page-scroll-icon {
  background-color: rgba(0, 0, 0, 0.6);
}

.pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.product-features {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 70px 8px 8px 8px;
  height: 700px;
}

.project-features {
  margin: 40px 20px 20px 0px;
}

.tasks-container-header {
  border-radius: 5px;
}

.task-dropdown {
  margin-top: 15px;
}

.task-list-item {
  padding: 8px 0px;
  margin-right: 20px;
}

.task-show {
  height: 100%;
  width: 100%;
}

.under-construction {
  height: 100%;
  width: 100%;
}

.user-show-tasks {
  padding-bottom: 12px;
}

.user-task-list-item {
  margin: 0px 50px;
}


