/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require grayscale.css
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.add-project {
  margin: 8px 100px 0px 0px;
}

body {
  height: 100%;
  margin: 0;
  min-width: 550px;
}

#c1 {
  background-image: asset-url("profile-pictures/me.png");
}

#c2 {
  background-image: asset-url("profile-pictures/prof1.png");
}

#c3 {
  background-image: asset-url("profile-pictures/prof3.png");
}

#c-default {
  background-image: asset-url("profile-pictures/professional-corgi.jpg");
}

.circle-image{
  /*background-image: url("prof1.png");*/
  background-position-y: 25%;
  background-size: 50px 50px;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
}

.clearfix {
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

.collaborators-list {
  background-color: white;
  border-radius: 5px;
  display: block;
  height: 75px;
  width: 100%;
  margin: 20px;
  padding: 0px 12px;
}

#collaborator-title {
  text-align: center;
}

.complete-stamp {
  height: 50%;
  width: 50%;
}

.complete-task {
  padding: 8px;
  border-radius: 25%;
}

.completed {
  background-image: url("http://ajax.raffertyaluminum.com/pics/completed_stamp.gif") !important;
  background-size: 280px 200px !important;
  background-repeat: no-repeat !important;
  background-position: 10px 10px !important;
  margin: 8px 0px 0px 8px;
}

.delete-member {
  height: 60px;
  width: 60px;
  background-image: asset-url("red-x.png");
  background-size: cover;
  margin-top: 8px;
}

.delete-project {
  display: none;
  margin-top: 20px;
}

.delete-task {
  border-radius: 25%;
  margin: 8px 0px 0px 8px;
  padding: 8px;
}

.dropdown-style {
  width: 20px;
}

.editing {
  color: black;
}

.error {
  color: red;
  padding: 15px 0px 15px 30px;
}

#footer {
  margin-top: 300px;
  height: 500px;
  width: 100%;
  background-color: #aaaaaa;
}

.form-group .btn {
  width: 100%;
}

.form-title {
  margin: 0;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
}

html {
  height: 100%;
}

.index-item-header {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-bottom: 8px;
  width: 100%;
}

.jumbotron {
  background-color: rgba(245, 245, 245, 0.4);
  color: #eeeeee;
  border-radius: 5px;
  margin: 0px 80px;
  padding-left: 50px;
}

.list-project-description {
  margin-left: 25px;
  height: 60px;
  overflow: hidden;
}

.logo {
  background-color: #ebebeb;
  padding: 30px 0px;
}

.logo-image {
  height: 60px;
  width: 45px;
}

#main {
  background-attachment: fixed;
  /*background-image: url("http://i.imgur.com/e3klq.gif");*/
  /*background-image: url("http://i.imgur.com/YPkmfQL.gif");*/
  /*background-image: url("http://imgur.com/Za58U7p.gif");*/
  /*background-image: asset-url("fp_back.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.member-circle-img {
  margin: 12px 8px 8px 8px;
  float: left;
}

.modal-backdrop {
  background-color: rgba(100, 100, 100, 0.8);
  height: 110%;
  position: absolute;
  z-index: 10;
}

.modal-content {
  margin-left: 50%;
  margin-top: 100px;
  padding: 6px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 11;
  form {
    width: 100%;
    margin: 0;
  }
}

#myCarousel {
  width: 100%;
  height: 60px;
}

nav a {
  color: white;
}

.navbar {
  background-color: #aaaaaa;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 20px;
}

.new-form {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.new-task {
  clear: both;
  display: block;
  margin: 20px 0px;
}

.new-user-session {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.project-description-text:hover {
  background-color: #aaaaaa;
}

.project-description-text-editing {
  width: 100%;
}

.project-features {
  margin: 40px 20px 20px 0px;
}

.project-header-features {
  margin-top: 20px;
}

.projects-index-item {
  background-color: white;
  border: 4px solid #aaaaaa;
  border-radius: 5px;
  display: block;
  float: left;
  margin: 20px;
  padding: 0px 15px 0px 15px;
  width: 350px;
  height: 200px;
}

.projects-index-item:hover {
  background-color: #dbdbdb;
}

.projects-index-item:hover .delete-project{
  display: block;
}

.projects-index-title {
  color: white;
  margin: 0px 0px 20px 100px;
}

.project-owner {
  color: blue;
}

.project-show {
  background-color: rgba(245, 245, 245, 0.4);;  
  border-radius: 5px;
  height: 95%;
  margin: 0px 100px;
}

.project-show-content {
  height: 100%;
}

.project-show-header {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px 10px;
}

.project-show-footer {
  margin: 100px;
}

.project-show-upload-bar {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  height: 150px;
}

.project-title-editing {
  border-radius: 5px;
  margin: 20px;
}

.project-title:hover {
  background-color: #aaaaaa;
}

.project-user-search {
  min-width: 300px;
}

.proj-index-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-right: 150px;
  padding: 8px;
  text-align: right;
}

.proj-index-style {
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 5px;
  display: block;
  height: 275px;
  margin: 10px 50px;
  padding-top: 20px;
  padding-left: 30px;
}

.projects-index-footer {
  margin-left: 100px;
  padding-bottom: 40px;
}

.search-label {
  text-align: center;
}

.searched-user {
  font-size: 20px;
}

.tag-user {
  margin-top: 3px;
}

.tasks-container {
  border-radius: 5px;
  display: block;
  height: 100%;
  width: 100%;
  margin: 20px;
  padding: 0px 20px;
}

.tasks-container-header {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 20px;
  padding: 0px 10px;
}

.task-dropdown {
  margin-top: 15px;
}

.task-index-item {
  background: white;
  border-radius: 5px;
  display: block;
  float: left;
  height: 220px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.task-index-item-buttons {
  display: none;
}

.task-index-item:hover .task-index-item-buttons {
  display: block;
}

.task-index-item-description {
  margin: 8px;
  word-wrap: normal;
}

.task-index-item:hover {
  background-color: #dbdbdb;
}

.task-list-item {
  padding: 8px 0px;
  margin-right: 20px;
}

.task-show {
  border: 1px solid red;
  height: 100%;
  width: 100%;
}

textarea {
  width: 100%;
}

.upload-button {
  margin: 0px 0px 20px 10px;
}

.upload-thumbnail {
  margin: 30px;
  float: left;
}

#upload-title {
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.users {
  height: 100%;
}

.users-search {
  background-color: white;
  border: 3px solid blue;
  margin: 20px;
  max-height: 400px;
  padding: 0px 15px 8px 15px;
}

.user-show {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 20px;
  padding: 8px 10px;
}

.user-show-tasks {
  padding-bottom: 12px;
}

.user-task-list-item {
  margin: 0px 50px;
}


