#customer-question {
  background-color: rgba(256, 256, 256, 0.8);
}

#sidebar-wrapper {
  height: 100%;
  position: relative;
}

.sidebar-nav {
  height: 100%;
}

.bottom {
  bottom: 10%;
  position: absolute;
  width: 100%;
}