
#brand {
  margin-left: 20px;
}

.bottom {
  bottom: 4%;
  position: absolute;
  width: 100%;
}

#customer-question {
  background-color: rgba(256, 256, 256, 0.8);
  padding-bottom: 16px;
  transition: visibility 1.0 opacity;
}

.customer-support:hover {
  cursor: pointer;
}

.nav-side-bar {
  width: 100%;
}

#question-form {
  margin: 10px 0px;
  padding-top: 4px;
  width: 100%;
}

#question-submit {
  margin-top: 20px;
}

#response {
  height: 52px;
  margin-left: 20px;
  text-align: center;
  width: 200px;
}

.sidebar-nav {
  height: 100%;
  width: 40%;
}

#sidebar-wrapper {
  height: 100%;
  position: relative;
}

.tree-list-item {
  font-size: 10px;
  margin-left: -35px;
  overflow: hidden;
  padding-left: 10px;
  width: 230px;
  white-space: nowrap;
}