.main-content {
  /*border: 5px solid blue;*/
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
}

.project-description {
  font-size: 16px;
}

.project-description-text {
  font-size: 12px;
}

.project-description-text:hover {
  background-color: #aaaaaa;
}

.project-description-text-editing {
  width: 100%;
}

.project-header-description {
  margin: 15px 0px;
}

.project-owner {
  font-size: 16px;
  color: hsl(195, 60%, 35%);
}

.project-show {
  background-image: asset-url("fp_back3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.project-show-content {
  height: 100%;
}

.project-show-header {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px 10px;
}

.project-show-footer {
  margin: 100px;
}

.project-show-upload-bar {
  border-radius: 5px;
}

.project-title {
  font-size: 28px;
}

.project-title-editing {
  border-radius: 5px;
  margin: 20px;
}

.project-title:hover {
  background-color: #aaaaaa;
}

.search-label {
  text-align: center;
}

.searched-user {
  font-size: 20px;
}

.side-bar {
  /*border: 5px solid red;*/
  background-color: white;
  border-radius: 5px;
  margin: 50px 0px;
  height: 625px;
  padding-bottom: 100px;
}

#stats-incomplete {
  font-size: 14px;
  float: right;
}

#stats-complete {
  font-size: 14px;
  float: left;
}

.tag-user {
  margin-top: 3px;
}

.tasks-container {
  border-radius: 5px;
  display: block;
  height: 100%;
}

.tasks-container-body-completed.pre-scrollable {
  max-height: 200px;
}


.tasks-container-body-incomplete.pre-scrollable {
  max-height: 200px;
}

.tasks-title {
  font-size: 24px;
  float: left;
  margin-left: 20px;
}

textarea {
  width: 100%;
}

.upload-button {
  margin: 0px 0px 20px 10px;
  /*margin-left: 10px;*/
}

.upload-thumbnail {
  margin: 30px;
  float: left;
}

#upload-title {
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.users {
  height: 100%;
}

.user-search {
  margin-top: 30px;
}
