

.nav-task-list {
  height: 100%;
  padding: 0;
}

.project-link {
  color: #999;
  font-size: 24px;
  padding: 8px 24px;
  width: 100%;

  display: block;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.project-tree {
  width: 100%;
}

.project-tree-header {
  color: white;
  padding-left: 24px;
}

#project-tree-list {
  padding: 0;
}

.task-link-list-item {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  margin: 12px;
  padding: 4px 12px;
  text-decoration: none;
}

.task-link-list-item:hover {
  color: white;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
}

.tree-route {
  height: 100%;
  padding-top: 6px;
}
