.active {
  height: 92%;
  overflow: hidden;
}

#folder {
  margin-left: 500px;
}

.inactive {
  height: 8%;
  overflow: hidden;
}

.projects {
  height: 100%;
}

.projects-index {
  background-image: url("http://res.cloudinary.com/du0durr8z/image/upload/v1437876214/fp_back3_eprpyg.jpg");
  height: 100%;
}

.projects-index-footer {
  margin-left: 100px;
  padding-bottom: 40px;
}

.projects-index-header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 20px;
  margin-right: 150px;
  padding: 8px;
  text-align: right;
}

.projects-index-header:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.projects-tagged {
  transition: height 0.8s ease 0s;
}


#project-owner {
  margin-left: 12px;
  color: green;
}
