
.nav-task-list {
  border: 2px solid red;
  height: 100%;
}

.project-show {
  height: 100%;
}

#project-show-main {
  height: 100%;
  padding: 0;
}

#project-show-tasks-list {
  height: 100%;
  background-color: #aaa;
}

#tree-route {
  height: 100%;
  border: 2px solid blue;
}
