#deleteUpload {
  margin: 12px 0px 12px 20px;
}

#div-completed {
  background-color: rgba(0, 0, 0, 0.3);
}

#div-incomplete {
  transition: height 0.8s ease 0s;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-content {
  background-color: rgba(256, 256, 256, 0.8);
  height: 100%;
}

.member-circle-img:hover .member-username{
  visibility: visible;
  opacity: 1;
}

.member-username {
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-size: 12px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  visibility: hidden;
  z-index: 1001;
}

.project-description {
  font-size: 16px;
}

.project-description-text {
  font-size: 12px;
}

.project-description-text:hover {
  background-color: #aaaaaa;
}

.project-description-text-editing {
  width: 100%;
}

.project-header-description {
  margin: 15px 0px;
}

.project-owner {
  font-size: 16px;
  color: hsl(195, 60%, 35%);
}

.project-show {
  background-image: url("http://res.cloudinary.com/du0durr8z/image/upload/v1437876214/fp_back3_eprpyg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.project-show-content {
  height: 100%;
}

#project-show-main {
  height: 100%;
}

.project-show-header {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 20px 10px;
}

.project-show-footer {
  margin: 100px;
}

.project-show-upload-bar {
}

.project-show-task-title {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
}

.project-show-task-title:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.project-title {
  font-size: 28px;
}

.project-title-editing {
  margin: 20px;
}

.project-title:hover {
  background-color: #aaaaaa;
}

.search-label {
  text-align: center;
}

.searched-user {
  font-size: 20px;
}

#project-show-sidebar {
  background-color: rgba(256, 256, 256, 0.8);;
  height: 100%;
  padding-bottom: 100px;
}

#stats-incomplete {
  color: red;
  font-size: 14px;
  float: right;
}

#stats-complete {
  color: blue;
  font-size: 14px;
  float: left;
}

.tag-user {
  margin-top: 3px;
}

.tasks-container {
  display: block;
  height: 75%;
}

.tasks-container-body-completed.pre-scrollable {
  margin: 12px 0px 0px 8px;
  max-height: 98% !important;
  /*margin-left: 5%;*/
}


.tasks-container-body-incomplete.pre-scrollable {
  margin: 12px 0px 0px 8px;
  max-height: 98% !important;
  /*margin-left: 5%;*/
}

.task-folder {
  margin-right: 50px;
}

.tasks-title {
  font-size: 24px;
  float: left;
  margin-left: 20px;
}

textarea {
  width: 100%;
}

.upload-button {
  margin: 0px 0px 20px 0px;
}

.upload-thumbnail {
  margin: 30px;
  float: left;
}

#upload-title {
  text-align: center;
  padding: 10px 0px 20px 0px;
}

.users {
  height: 100%;
}

.user-search {
  margin-top: 30px;
}
