.active {
  height: 88%;
  overflow: hidden;
}

#folder {
  margin-left: 500px;
}

.inactive {
  height: 12%;
  overflow: hidden;
}

.projects {
  height: 100%;
}

.projects-index {
  background-image: asset-url("fp_back3.jpg");
  height: 100%;
}

.projects-index-footer {
  margin-left: 100px;
  padding-bottom: 40px;
}

.projects-index-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  margin-right: 150px;
  padding: 8px;
  text-align: right;
}

.projects-tagged {
  transition: height 0.8s ease 0s;
}


#project-owner {
  margin-left: 12px;
  color: green;
}