#task-author {
  margin: 4px 0px 8px 2px;
  font-size: 12px;
}

.task-index-item {
  background-color: white;
  border-radius: 5px;
  display: block;
  float: left;
  height: 260px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.task-index-item-buttons {
  display: none;
}

.task-index-item:hover .task-index-item-buttons {
  display: block;
}

.task-index-item-description {
  font-size: 12px;
  height: 50px;
  margin: 2px;
  overflow: auto;
  word-wrap: normal;
}

.task-index-item:hover {
  background-color: #dbdbdb;
}

#task-item-title {
  margin: 12px 0px;
  padding-left: 0px;
}
