.task-show {
  /*background-color: red;*/
  border-radius: 5px;
  padding: 30px 0px;
}

.task-show-body {
  /*background-color: blue;*/
  height: 100%;
}

.task-show-sidebar {
  height: 100%;
  position: relative;
}

.comments-header {
  float: left;
}

.create-comment {
  margin: 20px 80px;
}

.task-complete {
  position: absolute;
  bottom:50px;
}