.back-task {
  position: absolute;
  bottom: 30px;
}

.comments-header {
  font-size: 28px;
  float: left;
  margin-left: 20px;
}

.comments-section {
  margin-top: 28px;
}

.complete {
  color: green;
}

.incomplete {
  color: red;
}


.task-complete {
  /*position: absolute;*/
  /*bottom: 100px;*/
}

#task-description {
  font-size: 16px;
}

.task-main {
  height: 100%;
}

.task-show {
  background-image: asset-url("fp_back3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.task-show-body {
  background-color: white;
  border-radius: 5px;
  height: 600px;
  margin-top: 50px;
}

.task-show-sidebar {
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
  max-height: 600px;
  padding: 16px;
}

#task-status {
  font-size: 16px;
  text-transform: capitalize;
}

#task-show-title {
  font-size: 28px;
  margin-top: 20px;
}

textarea {
  width: 50%;
}
