.back-task {
  position: absolute;
  bottom: 30px;
}

.comments-header {
  font-size: 28px;
  float: left;
  margin-left: 20px;
}

#comments-section {
  margin-top: 28px;
  overflow: scroll;
  height: 250px;
}

.complete {
  color: green;
}

.incomplete {
  color: red;
}

#task-description {
  font-size: 16px;
}

#task-details-sidebar {
  height: 100%;
}

.task-show-main {
  height: 100%;
  padding: 0px 10px;
}

.task-show-body {
  background-color: white;
  height: 60%;
  margin: 0;
  padding: 0px 16px;
}

.task-show-sidebar {
  background-color: white;
  height: 40%;
  margin: 0;  
  padding: 0px 16px;
  position: relative;
}

#task-status {
  font-size: 16px;
  text-transform: capitalize;
}

#task-show-title {
  font-size: 28px;
  margin-top: 20px;
}

textarea {
  width: 50%;
}
