.back-user {
  float: right;
  margin: 16px;
}

.user-show {
  border: 1px solid red;
  margin-top: 80px;
}

.user-show-header {
  /*border: 2px solid blue;*/
  margin: 20px;
  padding: 8px;
}

.user-show-body {
  border: 3px solid black;
}

#user-username {
  float: left;
}