.back-user {
  float: right;
  margin: 16px;
}

.profile-picture {
  height: 204px;
  width: 204px;
  background-color: white;
  border: 2px solid black;
  margin-left: 40px;
  position: absolute;
  top: 40px;
}

.task-list-item {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 12px 0px;
}

.to-do-container.pre-scrollable {
  /*border: 2px solid red;*/
}

.to-do-list {
  /*border: 2px solid black;*/
  padding: 4px 10px;
}

#upload-prof-pic {
  margin: 24px 40px;
}

.user-buttons {
  height: 10px;
}

.user-nav {
  cursor: pointer;
  padding: 0px 40px;
}

.user-show {
  position: relative;
}

#user-show-about-title {
  border: 2px solid red;
}

.user-show-nav {
  background-color: rgba(0, 0, 0, 0.2);
  /*border: 2px solid red;*/
  height: 40px;
  padding-left: 350px;
  padding-top: 12px;
  width: 100%;
}

.user-show-header {
  background-color: white;
  /*border: 2px solid blue;*/
  margin-top: 128px;
  padding: 8px;
}

.user-show-body {
  /*border: 3px solid black;*/
  padding: 12px 40px;
  height: 500px;
}

.user-show-edit {
  background-color: white;
  border-radius: 5px
}

.user-show-tasks {
  background-color: white;
  border-radius: 5px;
}

#user-show-task-title {
  float: left;
}

#user-show-task-stats {
}

#user-show-username {
  float: left;
  margin-left: 250px;
}