.back-user {
  float: right;
  margin: 16px;
}

.profile-picture {
  height: 204px;
  width: 204px;
  background-color: white;
  border: 2px solid black;
  margin-left: 40px;
  position: absolute;
  top: 40px;
}

.user-show {
  background-color: #aaa;
  padding-bottom: 100px;
  position: relative;
}

.user-show-header {
  background-color: white;
  /*border: 2px solid blue;*/
  border-radius: 5px;
  margin: 20px;
  padding: 8px;
}

.user-show-body {
  /*border: 3px solid black;*/
  padding: 12px;
  margin-top: 150px;
}

.user-show-edit {
  background-color: white;
  border-radius: 5px
}

.user-show-tasks {
  background-color: white;
  border-radius: 5px;
}

#user-username {
  float: left;
  margin-left: 250px;
}